<p>take works!</p>
<div class="container">
  <div class="row">
      <h1>Take</h1>
      <p>Take,TakeLast and TakeUntil</p>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>  randomNames = ['Amol', 'Sujata', 'Reyansh', 'Nikhil', 'Anmol', 'smita'];</strong>
      </p>
    <div class="col-md-4">
      <strong>Ex1</strong>
      <p class="bg-light py-2 px-3 border rounded">
        <strong>Take</strong>
      </p>
      <hr />
      <ul id="elContainer1"></ul>
    </div>

    <div class="col-md-4">
        <strong>Ex2</strong>
        <p class="bg-light py-2 px-3 border rounded">
          <strong>TakeLast</strong>
        </p>
        <hr />
        <ul id="elContainer2"></ul>
      </div>

      <div class="col-md-4">
        <strong>Ex3</strong>
        <p class="bg-light py-2 px-3 border rounded">
          <strong>TakeUntil(conditional)</strong>
        </p>
        <hr />
        <ul id="elContainer3"></ul>
      </div>
  </div>
</div>
