<div>
  <div *ngIf="error" class="alert alert-warning" role="alert">
    <strong>Error Occured</strong>{{ error }}
  </div>
</div>

<form class="k-form myform" [formGroup]="form" (ngSubmit)="onSubmit()">
  <fieldset class="k-form-fieldset">
    <!-- <legend class="k-form-legend">Your account</legend> -->

    <kendo-avatar
      initials="EG"
      width="80px"
      height="80px"
      shape="circle"
    ></kendo-avatar>
    <kendo-formfield>
      <kendo-label [for]="username" text="Username"></kendo-label>
      <kendo-textbox
        formControlName="email"
        [clearButton]="true"
        #username
        required
      ></kendo-textbox>

      <kendo-formhint>Your Username</kendo-formhint>
      <kendo-formerror>Error: Username is required</kendo-formerror>
    </kendo-formfield>
    <kendo-formfield>
      <kendo-label [for]="password" text="Password"> </kendo-label>
      <kendo-textbox
        formControlName="password"
        #password
        required
        [clearButton]="true"
      >
        <ng-template kendoTextBoxSuffixTemplate>
          <button kendoButton look="clear" icon="eye"></button>
        </ng-template>
      </kendo-textbox>

      <kendo-formhint>Your password</kendo-formhint>
      <kendo-formerror>Error: Password is required</kendo-formerror>
    </kendo-formfield>

    <!-- <kendo-formfield>
                        <div class="k-checkbox-wrap">
                            <input #loggedin type="checkbox" kendoCheckBox formControlName="loggedin" />
                            <kendo-label [for]="loggedin" class="k-checkbox-label" text="Keep me logged in"></kendo-label>
                        </div> 
                        <kendo-formhint>Next time, you will be logged in automatically</kendo-formhint>
                    </kendo-formfield> -->

    <div class="k-form-buttons">
      <!-- {{loginMode? 'SignIn':'Create Account'}} -->
      <button type="submit" class="k-button k-primary">
        {{ loginMode ? "SignIn" : "Create Account" }}
      </button>

      <button class="k-button" (click)="clear()">Clear</button>
    </div>

    <p>
      {{ loginMode ? "Dont have Account?" : "Allredy have Account?" }}
      <a href="#" (click)="onModeSwitch()">
        {{ loginMode ? "Create One" : "SignIn" }}
      </a>
    </p>

    <a href="#">Forgot Password </a>
  </fieldset>
</form>
