<div class="container">
<p>Observable are just that — things you wish to observe and take action on. Angular uses the Observer pattern which simply means — Observable objects are registered, and other objects observe (in Angular using the subscribe method) them and take action <br/>
    when the observable object is acted on in some way</p>
    
        <!-- <img src="Angular-Observable-Tutorial-how-observable-and-observers-communicates-with-call-backs-.jpg" width="500" height="500"/> -->
    
    
</div>>
