<div class="container">
  <div class="row">
    <div class="col-4">
      <br/>
      <h1>Promises</h1>
      1)asynchronus<br />
      2)Return a single value:
      resolve(yes)
      reject(no)
    </div>

    <div class="col-8">
      <br/>
      <h1>Synchronus </h1>
      Every line of code waits for its previous one to get executed first and
      then it gets executed. 
      <h1>Asynchronous</h1>
      Asynchronous : Asynchronous code allows
      the program to be executed immediately where the synchronous code will
      block further execution of the remaining code until it finishes the
      current one.
    </div>
  </div>
</div>
