<div class="container" [ngStyle]="{'color':'myColors'}">
  <a href="https://www.learnrxjs.io/learn-rxjs/operators/utility/do"
    >LearnRXJS Tap</a >
    <h1>Tap Operator</h1>
    <p>Transparently perform actions or side-effects, such as logging.</p>
    <div class="row">
        <div class="col-md-6">
            <strong>Ex:1</strong>
            <ul id="e1container1">
               
            </ul>

        </div>

        <div class="col-md-6">
            <strong>Ex:2</strong>
            <ul id="e1container2">
               
            </ul>

    </div>
</div>

