<div class="my-3">
    <h2>MergeMap</h2>
    <div class="row">
      <div class="col-md-4">
        <strong>Ex.1|Map</strong>
        <hr />
        <p class="bg-light py-2 px-3 border rounded">
          <strong>Map</strong>
          Map Data
        </p>
     <hr>
     <ul id="elcontainer">
    </ul>
  </div>
  <div class="col-md-4">
    <strong>Ex.2|Map+MergeAll</strong>
    <hr />
    <p class="bg-light py-2 px-3 border rounded">
      <strong>MergeMap</strong>
      Map Data
    </p>
    <hr>
    <ul id="elcontainer2">
    </ul>
</div>
<div class="col-md-4">
    <strong>Ex.3|MergeMap</strong>
    <hr />
    <p class="bg-light py-2 px-3 border rounded">
      <strong>MergeMap</strong>
      Map Data (flatning operator)
      <!-- syntax:mergeMap(project: (value: T, index: number) => O): OperatorFunction<T, ObservedValueOf<O>> -->
    </p>
    <hr>
    <ul id="elcontainer3">
    </ul>
</div>
  </div>
  </div>

