<div class="container" style="height: 100px">
    <table class="table1">
     
      <tr>
        <!-- <td><button class="mybutton" routerLink="/parent">InputOutput</button></td> -->
        <td><button class="mybutton" routerLink="parent">InputOutput</button></td>
  
        <td>
          <button class="mybutton"  routerLink="emplist">Employee Crude</button>
        </td>
        <!-- <td><button class="mybutton" routerLink="/emplist">Employee Crude</button></td> -->
        <td>
          <button class="mybutton"  routerLink="obserable">Obserable</button>
        </td>
        <td>
          <button class="mybutton"  routerLink="viewchild">View Child</button>
        </td>    
        </tr>
  
    </table>
  </div>
  <router-outlet></router-outlet>
  
  
